{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block "extrahead" %}
	<link rel="stylesheet" href="{% static '/css/multiple-select.min.css' %}">
{% endblock %}

{% block "title" %}{% trans "Compare Lists" %} | {{block.super}}{% endblock %}


{% block "breadcrumb" %}
	{{ block.super }} /
	{% trans "Compare Lists" %}
{% endblock %}

{% block "content" %}
	<h1 class="titulo1"><span class="colorText">{% trans "Compare Lists" %}</h1>

	<form id="lists_filter" action="{% url 'compare' %}" method="GET" />
		<!-- pagination -->
		<input type="hidden" id="pagination" name="page" value="1" />

		<div class="alert alert-secondary">
			<h4>{% trans "Filters" %}:</h4>
			<hr>
			<b>{% trans "lists"|capfirst %}:</b><br/>
			<select multiple="multiple" id="list_filter_special" name="list">
				{% for list in lists_special %}
					<option value="{{list.id}}" {% if list.id|slugify in list_param %}selected="selected"{% endif%}>
						{{list.name}} <small><strong>({{list.abbreviation}})</strong></small>
					</option>
				{% endfor %}
			</select>
			<br>
			<b>{% trans "countries"|capfirst %}:</b><br/>
			<select multiple="multiple" id="list_filter_countries" name="list">
				{% for list in lists_country %}
					<option value="{{list.id}}" {% if list.id|slugify in list_param %}selected="selected"{% endif%}>
						{{list.name}} <small><strong>({{list.abbreviation}})</strong></small>
					</option>
				{% endfor %}
			</select>
		</div>

		<div class="hBlock">
			<input type="radio" class="matches" name="comparative_type" id="comparative_1" value="complete" {% if not comparative_type_param or comparative_type_param == 'complete' %}checked{% endif %}>
				<label for="comparative_1" class="rightSide">{% trans "Medicine, Pharmaceutical Form and Composition" %}</label>
			</input>
			<input type="radio" class="matches" name="comparative_type" id="comparative_2" value="medicine_pharmaceuticalform" {% if comparative_type_param == 'medicine_pharmaceuticalform' %}checked{% endif %}>
				<label for="comparative_2" class="rightSide">{% trans "Medicine and Pharmaceutical Form" %}</label>
			</input>
			<input type="radio" class="matches" name="comparative_type" id="comparative_3" value="medicine" {% if comparative_type_param == 'medicine' %}checked{% endif %}>
				<label for="comparative_3" class="rightSide">{% trans "Medicine" %}</label>
			</input>
		</div>
		<div class="spacer"></div>

		<div class="hBlock">
			<input type="radio" class="matches" name="matches" id="all_results_radio" rel="all_results" value="all" {% if not matches_param or matches_param == 'all' %}checked{% endif %}>
				<label for="all_results_radio" class="rightSide">{% trans "All Results" %}</label>
			</input>
			<input type="radio" class="matches" name="matches" rel="only_matched" id="match" value="only_matched" {% if matches_param == 'only_matched' %}checked{% endif %}>
				<label for="match" class="rightSide">{% trans "Only Matched" %}</label>
			</input>
			<input type="radio" class="matches" name="matches" rel="only_unmatched" id="unmatch"  value="only_unmatched" {% if matches_param == 'only_unmatched' %}checked{% endif %}>
				<label for="unmatch" class="rightSide">{% trans "Only Unmatched" %}</label>
			</input>
		</div>
		<div class="spacer"></div>
		<p>
			<input type="submit" class="btn btn-primary" value="Apply" />
		</p><br/><br/>

	</form>

	{% if pharmaceutical_forms|length > 0 %}
		{% include "list/pagination.html" %}
        <div class="table-responsive">
			<table class="table table-sm table-hover table-striped">
				<thead>
				    <tr>
						<th>{% trans "Medicine"|capfirst %}</th>
						{% if comparative_type_param != 'medicine' %}
							<th>{% trans "Pharmaceutical Form"|capfirst %}</th>
						{% endif %}
						{% for list in lists %}
							<th class="text-center" title="{{ list.name }}">{{ list.abbreviation|capfirst }}</th>
						{% endfor %}
				    </tr>
			    </thead>
			    <tbody>
				{% for item in pharmaceutical_forms %}
					<tr>
						<td class="tbLargura">
							<a href="{% url 'show_medicine' item.medicine_id %}#type{{ item.id }}">{{ item.medicine|capfirst }}</a>
						</td>
						{% if comparative_type_param != 'medicine' %}
							<td class="tbLargura">
								{{ item.type|capfirst }}<br>
								{% if item.composition  %}
									{{ item.composition|capfirst }}
								{% endif %}
							</td>
						{% endif %}

						{% for list in lists %}
							<td class="text-center">
								{% if list.id in item.list %}
									<i class="fas fa-check"></i>
								{% else %}
									-
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			    </tbody>
			</table>
        </div>
		{% include "list/pagination.html" %}

	{% elif lists %}
		<p>
			{% trans "Sorry, but there's no results for this filter's combination." %}
		</p>
	{% endif %}

{% endblock %}

{% block "extrafooter" %}
	<script src="{% static '/js/multiple-select.min.js' %}"></script>

	<script type="text/javascript">
		$(function(){

			$('#list_filter_special').multipleSelect({selectAll: false, filter: false, width: 800});
			$('#list_filter_countries').multipleSelect({selectAll: false, filter: true, width: 800});

			var page = $(".page");
			// listening items of page
			page.click(function(){
				$("#pagination").val($(this).attr('rel'));
				$('#lists_filter').submit();
			});
		})
	</script>
{% endblock %}
