{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block "title" %}{{ list.name|capfirst }} | {% trans "List" %} | {% endblock %}

{% block breadcrumb_last %}
	{{ list|translate:request.LANGUAGE_CODE|capfirst }}
{% endblock %}

{% block "content" %}
    <h1 class="titulo1">
        {{ list|translate:request.LANGUAGE_CODE }}
        {% if user.is_superuser %}
            <a href="{% url 'admin:list_list_change' list.pk %}" class="trigger"><i class="far fa-edit"></i></a>
        {% endif %}
    </h1>

	<div class="list">
		{% if list.obs %}
			<div class="observation">
				{{ list.obs|safe }}
			</div>
		{% endif %}

		{% include "list/section.html" %}

        {% if history_list %}
    		<div class="history_list">
    			<strong class="lTitle">{% trans "History" %}</strong>
    			<ul>
    				{% for history in history_list %}
    					<li>
    						<a href="{% url 'show_history' history.id %}">{{ history.year }} {{ history.edition }}</a>
    					</li>
    				{% endfor %}
    			</ul>
    		<div>
    	{% endif %}
	</div>
{% endblock %}

{% block "extracontent" %}
    <div id="modal-admin">
    </div>

    <div id="modal-login">
    </div>

    <div id="modal-alert">
    </div>

    <div id="modal-obs-a" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog  modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{% trans "Observation" %} (a)</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Indicates that there is an age or weight restriction on use of the medicine.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
				</div>
			</div>
		</div>
	</div>

    <div id="modal-obs-c1" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{% trans "Observation" %} (c1)</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>It signifies that the medicine(s) require(s) specialist diagnostic or monitoring facilities, and/or specialist medical care, and/or specialist training for their use in children.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
				</div>
			</div>
		</div>
	</div>

    <div id="modal-obs-c2" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{% trans "Observation" %} (c2)</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>It signifies that there is a specific indication for restricting its use to children.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
				</div>
			</div>
		</div>
	</div>

    <div id="modal-obs-e" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog modal-xl modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{% trans "Observation" %} (e)</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>It is primarily intended to indicate similar clinical performance within a pharmacological class. The listed medicine should be the example of the class for which there is the best evidence for effectiveness and safety. In some cases, this may be the first medicine that is licensed for marketing; in other instances, subsequently licensed compounds may be safer or more effective. Where there is no difference in terms of efficacy and safety data, the listed medicine should be the one that is generally available at the lowest price, based on international drug price information sources. Not all square boxes are applicable to medicine selection for children — see the second EMLc for details. Therapeutic equivalence is only indicated on the basis of reviews of efficacy and safety and when consistent with WHO clinical guidelines. National lists should not use a similar symbol and should be specific in their final selection, which would depend on local availability and price. </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block "extrafooter" %}
    <script src="{% static '/js/footnotes.js' %}"></script>

    <script type="text/javascript">
        $(document).on('click', '.trigger', function (event) {
            event.preventDefault();
            $('#modal-admin').iziModal('open', event);
        });

        $(document).on('click', '.trigger-login', function (event) {
            event.preventDefault();
            $('#modal-login').iziModal('open', event);
        });

        $("#modal-login").iziModal({
            title: 'ADMIN',
            iframe: true,
            iframeHeight: 400,
            width: 400,
            fullscreen: false,
            closeButton: true,
            closeOnEscape: false,
            overlayClose: false,
            onClosed: ReloadPage
        });

        $("#modal-admin").iziModal({
            title: 'ADMIN',
            iframe: true,
            iframeHeight: 800,
            width: 1200,
            fullscreen: true,
            closeButton: true,
            closeOnEscape: false,
            overlayClose: false,
            onClosed: ReloadPage
        });

        $("#modal-alert").iziModal({  // Set here modal trigger ID
            title: 'Conteúdo atualizado',
            subtitle: 'Aguarde ... atualizando página',
            overlayColor: 'rgba(0, 0, 0, 0.4)',
            iconColor: 'red',
            iconClass: 'face',
            overlayClose: true,
            closeOnEscape: true,
            bodyOverflow: false,
            focusInput: true,
            autoOpen: false,
            fullscreen: false,
            openFullscreen: false,
            timeout: 3000, //Set a time, in miliseconds, to close automaticaly the modal
            timeoutProgressbar: true, //Set here to 'true' if your enabled a timeout.
            timeoutProgressbarColor: '#4183D7',
            transitionInModal: 'transitionIn',
            transitionOutModal: 'transitionOut',
            transitionInOverlay: 'fadeIn',
            transitionOutOverlay: 'fadeOut',
        });

        function ReloadPage(){
            $('#modal-alert').iziModal('open');
            location.reload();
        }
        function CloseModal(){
            $('#modal-admin').iziModal('close');
            $('#modal-login').iziModal('close');
        }

        // show first section of the list on page load
        $(document).ready(function() {
            $('#list-tabContent div:first-child').addClass("show active");
        });
    </script>
{% endblock %}
