{% load i18n %}
{% load app_filters %}

{% block "content" %}
<html>
    <head></head>
    <body>
        <div class="list">
            <div class="blockTitle">{{ list|translate:request.LANGUAGE_CODE }}</div>
            <div class="spacer"></div>
            
            {% if list.obs %}
                <div class="observation">
                    {{ list.obs|safe }}
                </div>
            {% endif %}
            
            <ul id="collapser">
                {% include "list/section.html" %}
            </ul>
            <div class="spacer"></div>
        </div>
    </body>
</html>




{% endblock %}