{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block "title" %}{{ medicine|translate:request.LANGUAGE_CODE|capfirst }} | {% trans "Medicine" %} | {% endblock %}

{% block breadcrumb_last %}
	{% if 'section' in request.GET %}
		<a href="{% url 'show_list' id=section.list.id %}" title="{{ section.list.name }}">{{ section.list.name }}</a> /
		{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}
	{% else %}
		<a>{% trans "medicines"|capfirst %}</a> /
		{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}
	{% endif %}
{% endblock %}

{% block "content" %}
    <h1 class="titulo1 colorText">{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}</h1>
    <div class="row">
        <div class="col-12 col-md-3 medPills">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                {% for form_id,form in forms.items %}
					<a href="#type_{{form.form.id}}" class="nav-link  {% if forloop.first %}active{% endif %}" data-toggle="pill" role="tab" aria-controls="v-pills-messages" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ form.form.pharmaceutical_form_type|translate:request.LANGUAGE_CODE }}
                        {% if form.form.composition %}
                            <small class="navSmall">
                                {% field_lang form.form "composition" request.LANGUAGE_CODE %}
                            </small>
                        {% endif %}
                    </a>
				{% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="tab-content" id="tabMedicamentos">
                {% for form_id,form in forms.items %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="type_{{form.form.id}}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        {% if form.form_in_lists|length > 0 %}
    					    <h4><b>{% trans "This medicine is present in" %}:</b></h4>
                            <div class="table-responsive">
    							<table class="table table-bordered table-striped table-hover">
    								<thead>
    									<tr>
    										<th>{% trans "List" %}</th>
    										<th>{% trans "Section" %}</th>
    										<th>{% trans "Observation" %}</th>
    									</tr>
    								</thead>

                                    <tbody class="font12">
        							{% for sf in form.form_in_lists %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'show_list' id=sf.section.list.id %}">{{ sf.section.list|translate:request.LANGUAGE_CODE|capfirst }}</a>
                                            </td>
                                            <td>
                                                {{ sf.section|translate:request.LANGUAGE_CODE|capfirst }}
                                            </td>
                                            <td>
                                                {% if sf.restriction_age %}
        											<b>{% trans "age or weight restriction"|capfirst %}:</b>
        											{% field_lang sf "restriction_age" request.LANGUAGE_CODE %}<br>
            									{% endif %}

            									{% if sf.only_for_children %}
        											<b>{% trans "This medicine is only for children."|capfirst %}</b><br>
            									{% endif %}

            									{% if sf.specialist_care_for_children %}
    											    <b>{% trans "This medicine requires a children care specialist."|capfirst %}</b><br>
            									{% endif %}

            									{% if sf.observation %}
        											<b>{% trans "Others observations"|capfirst %}:</b><br>
        											{% field_lang sf "observation" request.LANGUAGE_CODE %}<br>
            									{% endif %}

            									{% if sf.best_evidence %}
        											<b>{% trans "This medicine has the best evidence for effectiveness and safety."|capfirst %}</b><br>
            									{% endif %}

            									{% if not sf.restriction_age and not sf.only_for_children and not  sf.specialist_care_for_children and not sf.observation and not sf.best_evidence %}
                                                    <i>{% trans "No observations" %}</i>
            									{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        </div>

						{% endif %}
    				</div>
    			{% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block "extracontent" %}
    <section class="sectionCinza2 padding1">
		<div class="container">
			<h1 class="titulo1"><span class="colorText">{% trans "Information Resources" %}:</span> <small><b>{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}</b></small></h1>

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#resource1" role="tab" aria-controls="home" aria-selected="true">{% trans "Scientific Production" %}</a>
				</li>
                <li class="nav-item">
					<a class="nav-link {% if not evidences %}disabled{% endif %}" id="profile-tab" data-toggle="tab" href="#resource2" role="tab" aria-controls="profile" aria-selected="false">{% trans "Medicine Evidences Summaries" %}</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" id="rxnav-tab" data-toggle="tab" href="#resource3" role="tab" aria-controls="profile" aria-selected="false">{% trans "Marketed Drugs" %}</a>
				</li>
			</ul>

			<div class="tab-content font12 containerTab" id="myTabContent">
                <!-- resource1 -->
				<div class="tab-pane fade show active" id="resource1" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">{% trans "Loading" %} ...</span>
                    </div>
				</div>
			    <!-- resource2 -->
                <div class="tab-pane fade" id="resource2" role="tabpanel" aria-labelledby="profile-tab">
                    {% if evidences %}
        		        {% for summary in evidences %}
        			        <a href="{% url 'show_evidence' summary.evidence.id %}">
                                <b>{{ summary.evidence.question }}</b><br/>
                                {{ summary.evidence.context }}
                            </a>
                            <hr>
        			    {% endfor %}
            		{% endif %}
				</div>
                <!-- resource3 -->
				<div class="tab-pane fade" id="resource3" role="tabpanel" aria-labelledby="rxnav-tab">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">{% trans "Loading" %} ...</span>
                    </div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block "extrafooter" %}
<script>
    // Get scientific production
    var similar_url = '{% url "home" %}get_scientific_production/?text={{medicine}}';
    var jqxhr = $.get(similar_url);

    // Put the results in a div
    jqxhr.done(function( data ) {
      $('#resource1').empty().append(data);
    });

    // Get RxNorm data
    var rxnorm_url = '{% url "home" %}get_rxnorm_data/?medicine={{medicine}}'
    var jqxhr = $.get(rxnorm_url);

    // Put the results in a div
    jqxhr.done(function( data ) {
      $('#resource3').empty().append(data);
    });


</script>
{% endblock %}
