{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load app_filters %}

{% block "title" %}{{ medicine|translate:request.LANGUAGE_CODE|capfirst }} | {% trans "Medicine" %} | {% endblock %}

{% block breadcrumb_last %}
	{% if 'section' in request.GET %}
		<a href="{% url 'show_list' id=section.list.id %}" title="{{ section.list.name }}">{{ section.list.name }}</a> /
		{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}
	{% else %}
		<a>{% trans "medicines"|capfirst %}</a> /
		{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}
	{% endif %}
{% endblock %}

{% block "content" %}
    <h1 class="titulo1">{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}</h1>

    <h4><b><span class="colorText">Formas</span>  Farmacêuticas</b></h4>
    <div class="row">
        <div class="col-12 col-md-3 medPills">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                {% for form_id,form in forms.items %}
					<a href="#type_{{form.form.id}}" class="nav-link  {% if forloop.first %}active{% endif %}" data-toggle="pill" role="tab" aria-controls="v-pills-messages" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ form.form.pharmaceutical_form_type|translate:request.LANGUAGE_CODE }}
                    </a>
				{% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="tab-content" id="v-pills-tabContent">

                {% for form_id,form in forms.items %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="type_{{form.form.id}}" role="tabpanel" aria-labelledby="v-pills-home-tab">

    					<h5><b>{{ form.form.pharmaceutical_form_type|translate:request.LANGUAGE_CODE }}</b></h5>

                        <div class="substancia2 col-6">
                            {% if form.form.atc_code %}
                                ATC
                                <strong>{{ form.form.atc_code }}</strong>
                            {% else %}
                                ATC
                                <strong>N/A</strong>
                            {% endif %}
                            <hr>
                            {% if form.form.composition %}
                                {% trans "Composition" %}
                                <strong>{% field_lang form.form "composition" request.LANGUAGE_CODE %}</strong>
                            {% else %}
                                {% trans "Composition" %}
                                <strong>N/A</strong>
                            {% endif %}
                        </div>

    					<div class="highlightBlock">
    						<div class="listItemBlock">
    							<div class="listItem lists">
    								<b>{% trans "Lists" %}</b>
    								<ul>
    									<!-- {{form_id}} -->
    									{% for list, forms in forms_in_lists.items %}
    										{% if forms.type != 'c' %}
    											{% if form_id in forms.forms %}
    												<li class="checked"><span>YES</span>
    													<a href="{% url 'show_list' forms.list.id %}" title="{{ forms.list|translate:request.LANGUAGE_CODE }}">
    														{{ forms.list|translate:request.LANGUAGE_CODE|slice:"40" }}{% if forms.list|translate:request.LANGUAGE_CODE|length > 40 %}...{% endif %}
    													</a>
    												</li>
    											{% else %}
    												<li class="notchecked"><span>NO</span>
    													<a href="{% url 'show_list' forms.list.id %}" title="{{ forms.list|translate:request.LANGUAGE_CODE }}">
    														{{ forms.list|translate:request.LANGUAGE_CODE|slice:"40" }}{% if forms.list|translate:request.LANGUAGE_CODE|length > 40 %}...{% endif %}
    													</a>
    												</li>
    											{% endif%}
    										{% endif%}
    									{% endfor %}
    								</ul>
    							</div>

    							<div class="listItem countries">
    								<b>{% trans "Country lists" %}</b>
    								<script>
    									$(function(){
    										var this_class = ".country-{{form.form.id}}";
    										var message = "{% trans 'No country medicine list has published this medicine' %}";
    										var countries_content = $(this_class).html();

    										if(countries_content != null) {
    											countries_content = countries_content.replace(/^\s+|\s+$/g,"");
    										}

    										if(countries_content == "") {
    										    $(this_class).html("<i>"+message+".</i>");
    									    } else {
    									    	last_link = $(this_class + " .country_link:last-child").html();
    									    	last_link = last_link.replace(/^\s+|\s+$/g,"").slice(0, -1) + ".";
    									    	$(this_class + " .country_link:last-child").html(last_link);
    									   }
    									});
    								</script>
    								<div class="countriesContent country-{{form.form.id}}">
                                        <ul>
    									{% for list, forms in forms_in_lists.items %}
    										{% if forms.type == 'c' %}
    											{% if form_id in forms.forms %}
    												<li>
                                                        <a href="{% url 'show_list' forms.list.id %}" title="{{ forms.list|translate:request.LANGUAGE_CODE }}" class="country_link">
    													    {{ forms.list }}
    												    </a>
                                                    </li>
    											{% endif %}
    										{% endif%}
    									{% endfor %}
                                        </ul>
    								</div>
    							</div>
    						</div>
    					</div>

                        <hr>
						{% if form.form_in_lists|length > 0 %}
							<h5><b>{% trans "Observations for this pharmaceutical form can be found on the lists:" %}</b></h5>
                            <br>
							{% for sf in form.form_in_lists %}
								<strong>{{ sf.section.list|translate:request.LANGUAGE_CODE|capfirst }}</strong><br>
								<em>{{ sf.section|translate:request.LANGUAGE_CODE|capfirst }}</em>

								<ul class="listItems">
									{% if sf.restriction_age %}
										<li>
											<b>{% trans "age or weight restriction"|capfirst %}:</b>
											{% field_lang sf "restriction_age" request.LANGUAGE_CODE %}<br>
										</li>
									{% endif %}

									{% if sf.only_for_children %}
										<li>
											<b>{% trans "This medicine is only for children."|capfirst %}</b><br>
										</li>
									{% endif %}

									{% if sf.specialist_care_for_children %}
										<li>
											<b>{% trans "This medicine requires a children care specialist."|capfirst %}</b><br>
										</li>
									{% endif %}

									{% if sf.observation %}
										<li>
											<b>{% trans "Others observations"|capfirst %}:</b><br>
											{% field_lang sf "observation" request.LANGUAGE_CODE %}
											<br>
										</li>
									{% endif %}

									{% if sf.best_evidence %}
										<li>
											<b>{% trans "This medicine has the best evidence for effectiveness and safety."|capfirst %}</b><br>
											<br>
										</li>
									{% endif %}

									{% if not sf.restriction_age and not sf.only_for_children and not  sf.specialist_care_for_children and not sf.observation and not sf.best_evidence %}
										<li>
                                            <i>{% trans "No observations" %}</i>
                                        </li>
									{% endif %}
								</ul>
							{% endfor %}
						{% endif %}
    				</div>
    			{% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block "extracontent" %}
    <section class="sectionCinza2 padding1">
		<div class="container">
			<h1 class="titulo1"><span class="colorText">Recursos</span> de Informação: <small><b>{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}</b></small></h1>

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#resource1" role="tab" aria-controls="home" aria-selected="true">Produção Científica</a>
				</li>
                <li class="nav-item">
					<a class="nav-link {% if not evidences %}disabled{% endif %}" id="profile-tab" data-toggle="tab" href="#resource2" role="tab" aria-controls="profile" aria-selected="false">{% trans "Medicine Evidences Summaries" %}</a>
				</li>
			</ul>
			<div class="tab-content font12 containerTab" id="myTabContent">
                <!-- resource1 -->
				<div class="tab-pane fade show active" id="resource1" role="tabpanel" aria-labelledby="profile-tab">
					<a href=""><b>Cabazitaxel, abiraterona y enzalutamida en cáncer de próstata metastásico resistente a la castración con fracaso a docetaxel</b><br>
					INTRODUCCIÓN: El cáncer de próstata es la neoplasia maligna no cutánea más frecuente en varones. En estadíos tempranos el tratamiento es quirúrgico y radioterapéutico mientras que si la enfermedad está localmente avanzada o hay metástasis los pacientes son tratados con terapia anti-androgénica...</a>
					<hr>

					<a href=""><b>Tobramicina inhalatoria en polvo versus tobramicina inhalatoria en solución en fibrosis quística</b><br>
					INTRODUCCIÓN: La fibrosis quística (FQ) es una enfermedad genética autosómica recesiva causada por alteración del gen CFTR (del inglés Cystic Fibrosis Transmembrane Conductance Regulator), que afecta aproximadamente a 1 cada 2.000-3.000 nacidos en Europa y 1 cada 3.500 nacimientos en EE.UU. Esta al...</a>
					<hr>

					<a href=""><b>Pruebas de expresión genómica en pacientes con cáncer de mama: MammaPrint®, OncotypeDX® y Prosigna®</b><br>
					INTRODUCCIÓN: El cáncer de mama es la neoplasia más frecuente y principal causa de muerte por cáncer en mujeres. El 70% de los casos diagnostican en estadios tempranos. La decisión de administrar quimioterapia adyuvante se fundamenta en el riesgo estimado de recidiva. Su cálculo se basa en diversos...</a>
					<hr>
				</div>
			    <!-- resource2 -->
                <div class="tab-pane fade" id="resource2" role="tabpanel" aria-labelledby="profile-tab">
                    {% if evidences %}
        		        {% for summary in evidences %}
        			        <a href="{% url 'show_evidence' summary.evidence.id %}">
                                <b>{{ summary.evidence.question }}</b><br/>
                                {{ summary.evidence.context }}
                            </a>
                            <hr>
        			    {% endfor %}
            		{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block extrafooter %}
<script>
    var similar_url = 'similar/';
    // Send the data using post
    var posting = $.post( similar_url, { text: text_param, doc_id: '{{doc.id}}' } );

    // Put the results in a div
    posting.done(function( data ) {
      $('#similar-docs').empty().append(data);
    });
</script>
{% endblock %}
