{% extends "base.html" %}
{% load i18n %}

{% block "title" %}{% trans "Compare Lists" %} | {{block.super}}{% endblock %}

{% block "extrahead" %}
	<script type="text/javascript" src="{{ STATIC_URL }}/js/compare.js"></script>
{% endblock %}

{% block "breadcrumb" %}
	<a href="{{ROOT_URL}}">Home</a> / 
	<a href="http://{{request.META.HTTP_HOST}}" title="{% trans "List of Essential Medicines" %}">{% trans "List of Essential Medicines" %}</a> /
	{% trans "Compare Lists" %}
{% endblock %}

{% block "content" %}
	<form id="lists_filter" action="{% url list.views.compare %}" method="GET" />
		<!-- controllers -->
		<input type="hidden" id="id_hidden" name="lists" value="{{request.GET.lists}}" />
		
		{% if request.GET.only_matched == 'true' %}
			<input type="hidden" id="id_hidden_only_matched" name="only_matched" value="true" />
		{% else %}
			<input type="hidden" id="id_hidden_only_matched" name="only_matched" value="false" />
		{% endif %}

		{% if request.GET.only_unmatched == 'true' %}
			<input type="hidden" id="id_hidden_only_unmatched" name="only_unmatched" value="true" />
		{% else %}
			<input type="hidden" id="id_hidden_only_unmatched" name="only_unmatched" value="false" />
		{% endif %}
	</form>

	<div class="list">
		<div class="blockTitle">{% trans "Compare Lists" %}</div>
		<div class="spacer"></div>
		<div id="filters">
			<div class="blockSubTitle">{% trans "Filters" %}</div>
			<div class="hBlock">
				<div class="floatBlock">
					{% for list in lists_special %}
						<input type="checkbox" class="list_filter" value="{{list.id}}"/>
						<label for="list_filter" class="rightSide">{{list.abbreviation}}</label><br/>
					{% endfor %}
				</div>

			</div>
			<div class="hBlock">
				{% trans "Countries" %}
				<select multiple id="select_countries" class="dropDownBox textEntry mid">
					<option value="">--</option>
					{% for list in lists_country %}
						<option value="{{list.id}}">{{list.abbreviation}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="hBlock last">
				<input type="radio" class="matches" name="matches" id="all_results_radio" rel="all_results" /> <label for="match" class="rightSide">{% trans "All Results" %}</label><br/>
				<input type="radio" class="matches" name="matches" rel="only_matched" /> <label for="match" class="rightSide">{% trans "Only Matched" %}</label><br/>
				<input type="radio" class="matches" name="matches" rel="only_unmatched" /> <label for="notMatch" class="rightSide">{% trans "Only Unmatched" %}</label><br/>
			</div>
			<div class="spacer"></div>
		</div><!--/filters-->

		{% if section_forms|length > 0 %}
			<table width="100%" cellpadding="0" cellspacing="0" border="0" class="genericTable compareLists">
				<thead>
					<tr>
						<th class="rowRef">{% trans "Name"|capfirst %}</th>
						<th class="rowRef">{% trans "Type"|capfirst %}</th>

						{% for list in selected_lists %}	
							<th>{{ list.obj.abbreviation|capfirst }}</th>
						{% endfor %}
						
					</tr>
				</thead>
				<tbody>
					{% for sf in section_forms %}
						<tr>
							<td class="rowRef">
								<a href="{% url directory.views.show_medicine sf.pharmaceutical_form.medicine.id %}">{{ sf.pharmaceutical_form.medicine|capfirst }}</a>
							</td>
							<td class="rowRef">{{ sf.pharmaceutical_form.pharmaceutical_form_type|capfirst }}</td>

							{% for list in selected_lists %}	
								<td>
									{% if sf.pharmaceutical_form.id in list.forms %}
										<span class="checked"><span>x</span></span>
									{% else %}
										-
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<span>{% trans "Sorry, but there's no results for this filter's combination." %}</span>
		{% endif %}
	</div><!--/list-->
{% endblock %}