{% extends "base.html" %}
{% load i18n %}

{% block "title" %}{% trans "Compare Lists" %} | {{block.super}}{% endblock %}

{% block "extrahead" %}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.collapse.js"></script>    

	<script type="text/javascript">
		$(function(){
			$('#collapser').jqcollapse({
			   slide: true,
			   speed: 500,
			   easing: 'easeOutCubic',
			   expanded: true
			});

			$('.jqcNode').addClass('minus');
		});
	</script>

	<script type="text/javascript" src="{{ STATIC_URL }}/js/compare.js"></script>
{% endblock %}

{% block "breadcrumb" %}
	{{ block.super }} /
	{% trans "Compare Lists" %}
{% endblock %}

{% block "content" %}
	<form id="lists_filter" action="{% url list.views.compare %}" method="GET" />
		<!-- controllers -->
		<input type="hidden" id="id_hidden" name="lists" value="{{request.GET.lists}}" />
		
		{% if request.GET.only_matched == 'true' %}
			<input type="hidden" id="id_hidden_only_matched" name="only_matched" value="true" />
		{% else %}
			<input type="hidden" id="id_hidden_only_matched" name="only_matched" value="false" />
		{% endif %}

		{% if request.GET.only_unmatched == 'true' %}
			<input type="hidden" id="id_hidden_only_unmatched" name="only_unmatched" value="true" />
		{% else %}
			<input type="hidden" id="id_hidden_only_unmatched" name="only_unmatched" value="false" />
		{% endif %}
		<!-- pagination -->
		<input type="hidden" id="pagination" name="page" value="1" />
	</form>

	<div class="list">
		<div class="blockTitle">{% trans "Compare Lists" %}</div>
		<div class="spacer"></div>
		<div id="filters">
			<div class="blockSubTitle">{% trans "Filters" %}</div>
			<ul id="collapser">
				<li>{% trans "lists"|capfirst %}
					<ul>
						<li>
							{% for list in lists_special %}
								<input type="checkbox" id="list_{{list.id}}" class="list_filter" value="{{list.id}}"/>
								<label for="list_{{list.id}}" class="rightSide">{{list.abbreviation}}</label>
							{% endfor %}
						</li>
					</ul>
				</li>
				<li>{% trans "countries"|capfirst %}
					<ul>
						<li>
							{% for list in lists_country %}
								<input type="checkbox" id="list_{{list.id}}" class="list_filter" value="{{list.id}}"/>
								<label for="list_{{list.id}}" class="rightSide">{{list.abbreviation}}</label>
							{% endfor %}
						</li>
					</ul>
				</li>
			</ul>
		</div><!--/filters-->

		<div class="hBlock">
			<input type="radio" class="matches" name="matches" id="all_results_radio" rel="all_results" /> <label for="match" class="rightSide">{% trans "All Results" %}</label>
			<input type="radio" class="matches" name="matches" rel="only_matched" /> <label for="match" class="rightSide">{% trans "Only Matched" %}</label>
			<input type="radio" class="matches" name="matches" rel="only_unmatched" /> <label for="notMatch" class="rightSide">{% trans "Only Unmatched" %}</label>
		</div>
		<div class="spacer"></div>

		{% if section_forms|length > 0 %}
			<table width="100%" cellpadding="0" cellspacing="0" border="0" class="genericTable compareLists">
				<thead>				
					<tr>
						<th class="rowRef">{% trans "Name"|capfirst %}</th>
						<th class="rowRef">{% trans "Pharmaceutical Form"|capfirst %}</th>

						{% for list in selected_lists %}	
							<th>{{ list.obj.abbreviation|capfirst }}</th>
						{% endfor %}
						
					</tr>
				</thead>
				<tbody>
					{% for sf in section_forms %}
						<tr>
							<td class="rowRef">
								<a href="{% url directory.views.show_medicine sf.pharmaceutical_form.medicine.id %}">{{ sf.pharmaceutical_form.medicine|capfirst }}</a>
							</td>
							<td class="rowRef">
								{{ sf.pharmaceutical_form.pharmaceutical_form_type|capfirst }}<br>
								{% if sf.pharmaceutical_form.composition  %}
									{{ sf.pharmaceutical_form.composition|capfirst }}
								{% else %}
									<i>{% trans "No have composition" %}</i>
								{% endif %}
							</td>

							{% for list in selected_lists %}	
								<td>
									{% if sf.pharmaceutical_form.id in list.forms %}
										<span class="checked"><span>x</span></span>
									{% else %}
										-
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<div class="pagination">
				
				{% if pagination.items|length > 1 %}
					<ul>
						<li>
							{% if pagination.page > 1 %}
								<a href="#" rel="{{ pagination.prev }}" class="page"> < </a>
							{% else %}
								<
							{% endif %}
						</li>
						
						{% for item in pagination.items %}
							<li>
								{% if pagination.page == item %}
									<span class="selected">{{ item }}</span>
								{% else %}
									<a href="#" rel="{{ item }}" class="page">{{ item }}</a>
								{% endif %}
							</li>
						{% endfor %}

						<li>
							{% if pagination.page < pagination.items|length %}
								<a href="#" rel="{{ pagination.next }}" class="page"> > </a>
							{% else %}
								>
							{% endif %}
						</li>
					</ul>
				</div>
			{% endif %}

		{% else %}
			<p>
				<br>
				{% trans "Sorry, but there's no results for this filter's combination." %}
			</p>
		{% endif %}
	</div><!--/list-->
{% endblock %}