{% load mptt_tags %}
{% load i18n %}
{% load app_filters %}

{% recursetree nodes %}
    <li>{{ node|translate:request.LANGUAGE_CODE }}
        {% if not node.is_leaf_node %}
            <ul class="children">
                {{ children }}
            </ul>
        {% else %}
        	<ul>
        		<li>
        			<div class="tableContainer">
        				<table class="genericTable" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<th>{% trans 'medicine'|capfirst %}</th>
								<th>{% trans 'pharmaceutical form type'|capfirst %}</th>
								<th>{% trans 'composition'|capfirst %}</th>
                                <th>{% trans 'observation'|capfirst %}</th>
							</tr>
							{% for id, section_forms in pharm_section.items %}
								{% if id == node.id %}
									{% for section_form in section_forms %}
										{% with section_form.pharmaceutical_form as form %}
											<tr>
												<td><a href="/medicine/{{form.medicine.id}}/?section={{node.id}}#type{{form.id}}" title="#">{{ form.medicine|translate:request.LANGUAGE_CODE }}</a></td>
												<td>{{ form.pharmaceutical_form_type|translate:request.LANGUAGE_CODE }}</td>
												<td>{% if form.composition %}
													{{ form.composition }}
												{% else %}
													N/A
												{% endif %}</td>
                                                <td>
                                                    {% if  section_form.restriction_age %}<a href="#" class="observation" id="obs_a"> a </a>{% endif %}
                                                    {% if section_form.specialist_care_for_children %}<a href="#" class="observation" id="obs_c1"> c1 </a>{% endif %}
                                                    {% if section_form.only_for_children %}<a href="#" class="observation" id="obs_c2"> c2 </a>{% endif %}
                                                    {% if section_form.best_evidence %}<a href="#" class="observation" id="obs_e"> e </a>{% endif %}
                                                </td>
											</tr>
										{% endwith %}

									{% endfor %}
								{% endif %}
							{% endfor %}
						</table>
        			</div>
        		</li>
        	</ul>
        {% endif %}
    </li>
{% endrecursetree %}