{% extends "base.html" %}
{% load i18n %}
{% load app_filters %}

{% block "title" %}{{ list.name|capfirst }} | {% trans "List" %} | {% endblock %}

{% block "extrahead" %}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.collapse.js"></script>    
	<script type="text/javascript" src="{{STATIC_URL}}js/tinybox.js"></script>    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tinybox-styles.css" media="screen" />

	<script type="text/javascript">
		$(function(){
			$('#collapser').jqcollapse({
			   slide: true,
			   speed: 500,
			   easing: 'easeOutCubic'
			});
		});
	</script>

    <script type="text/javascript" src="{{STATIC_URL}}js/footnotes.js"></script>

{% endblock %}

{% block "breadcrumb" %}
	{{ block.super }} /
	{{ list|translate:request.LANGUAGE_CODE|capfirst }}
{% endblock %}

{% block "content" %}
	<div class="list">
		<div class="blockTitle">{{ list|translate:request.LANGUAGE_CODE }}</div>
		<div class="spacer"></div>
		
		{% if list.obs %}
			<div class="observation">
				{{ list.obs|safe }}
			</div>
		{% endif %}
		
		<ul id="collapser">
			{% include "list/section.html" %}
		</ul>
		<div class="spacer"></div>
	</div>
{% endblock %}