{% extends "base.html" %}
{% load i18n %}
{% load app_filters %}

{% block "title" %}{% trans "Home" %} | {% endblock %}

{% block "content" %}
    <div class="list-group">
        <a class="list-group-item list-group-item-action active" href="{% url 'compare' %}">{% trans "Compare lists"|capfirst %}</a>

    {% for list in who_lists %}
        {% if list.published %}
            <a class="list-group-item list-group-item-action" href="{% url 'show_list' list.id %}" title="{{list.name}}">{{ list|translate:request.LANGUAGE_CODE }}</a><br/>
        {% endif %}
    {% endfor %}

    {% for list in paho_lists %}
        {% if list.published %}
            <a class="list-group-item list-group-item-action" href="{% url 'show_list' list.id %}" title="{{list.name}}">{{ list|translate:request.LANGUAGE_CODE }}</a><br/>
        {% endif %}
    {% endfor %}

    {% for list in country_lists %}
        {% if list.published %}
            <a class="list-group-item list-group-item-action" href="{% url 'show_list' list.id %}">{{ list|translate:request.LANGUAGE_CODE }}</a><br/>
        {% endif %}
    {% endfor %}
    </div>
    <br/>
{% endblock %}
