{% extends "admin/change_form.html" %}

{% block form_top %}
	<script>
		// to prevent jquery conflicts
		$ = django.jQuery; jQuery = django.jQuery;
	
		$(function(){
		    $("#id_list").change(function(){
		    	var val = $(this).find('option:selected').val();
		    	$.getJSON("{% url api.views.get_sections %}/?list="+val, function(json) {
		    		var options = '<option value="" selected="selected">---------</option>';
		    		$.each(json, function(k,v){
		    			var option = "<option value="+k+">";
		    			option += v;
		    			option += "</option>";
		    			options += option
		    		});
		    		$("#id_parent").html(options);
				});
		    });
		})
	</script>
{% endblock %}