{% extends "base.html" %}
{% load i18n %}

{% block "extrahead" %}
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.easing.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.collapse.js"></script>
    
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/smoothness/jquery-ui-1.8.18.custom.css" media="screen" />
{% endblock %}

{% block "title" %}{{ medicine.name|capfirst }} | {% trans "Medicine" %} | {% endblock %}

{% block "breadcrumb" %}
	<a href="{{ ROOT_URL }}">Home</a> / 
	<a href="http://{{request.META.HTTP_HOST}}">{% trans "List of Essential Medicines" %}</a> / 
	<a>Medicines</a> /
	{{medicine.name|capfirst}}
{% endblock %}

{% block "content" %}

	<div class="mainContent">
		<div class="blockTitle">{{medicine.name|capfirst}}</div>
		<div class="blockSubTitle">{% trans "Pharmaceutical forms" %}</div>
		<script>
		$(function() {
			$( "#tabs" ).tabs();
		});
		</script>
		<div id="tabs">
			<ul>
				{% for form_id,form in forms.items %}
					<li><a href="#tab0{{forloop.counter}}">{{form.form.pharmaceutical_form_type}}</a></li>
				{% endfor %}
			</ul>

			{% for form_id,form in forms.items %}
				<div id="tab0{{forloop.counter}}">
					<div class="highlightBlock">
						
						<div class="highlightItem">
							{% if form.form.atc_code %}
								ATC
								<strong>{{ form.form.atc_code }}</strong>
							{% else %}
								ATC
								<strong>N/A</strong>
							{% endif %}
						</div>

						<div class="highlightItem">
							{% if form.form.composition %}
								{% trans "Composition" %}
								<strong>{{ form.form.composition }}</strong>
							{% else %}
								{% trans "Composition" %}
								<strong>N/A</strong>
							{% endif %}
						</div>

						<div class="spacer"></div>

					</div>

					<div class="mainBlock">
						<div class="blockSubTitle">({% trans "This medicine no have evidences yet" %})</div>	
					</div>

					<div class="sideBar">
						<div class="sideBarItem" id="lists">

							<div class="blockSubTitle">{% trans "Lists" %}</div>
							<ul>
								<li class="checked"><span>YES</span>{{list}}</li>
							</ul>
						</div>

						<div class="sideBarItem" id="countries">
							<div class="blockSubTitle">{% trans "Country list" %}</div>
							<div>
								Argentina, Brasil.
							</div>
						</div>
						
					</div>
					<div class="spacer"></div>
				</div>
			{% endfor %}
		</div>
		<div class="spacer"></div>
	</div>
{% endblock %}