{% extends "base.html" %}
{% load i18n %}
{% load app_filters %}

{% block "extrahead" %}
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.easing.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.collapse.js"></script>
    
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/smoothness/jquery-ui-1.8.18.custom.css" media="screen" />

	<script>
		// hide title of div if this is no have content
		function show_hide_titles(classname) {
			$(function(){
				$("." + classname).each(function(){
					if(!$(this).find('ul').find('li').html()) {
						$(this).find('.blockSubTitle').hide();
					} 
				});
			});
		}

		show_hide_titles('countries');
		show_hide_titles('obs_lists');
	</script>
{% endblock %}

{% block "title" %}{{ medicine|translate:request.LANGUAGE_CODE|capfirst }} | {% trans "Medicine" %} | {% endblock %}

{% block "breadcrumb" %}
	
	{{ block.super }} /

	{% if 'section' in request.GET %}	

		<a href="{% url medlist.list.views.show_list id=section.list.id %}" title="{{ section.list.name }}">{{ section.list.name }}</a> /
		{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}

	{% else %}

		<a>{% trans "medicines"|capfirst %}</a> /
		{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}

	{% endif %}
{% endblock %}

{% block "content" %}

	<div class="mainContent">
		<div class="blockTitle">{{ medicine|translate:request.LANGUAGE_CODE|capfirst }}</div>
		<div class="blockSubTitle">{% trans "Pharmaceutical forms" %}</div>
		<script>
		$(function() {
			$( "#tabs" ).tabs();
		});
		</script>
		<div id="tabs">
			<ul>
				<!--  TODO translate -->
				{% for form_id,form in forms.items %}
					<li><a href="#type{{form.form.id}}">{{form.form.pharmaceutical_form_type}}</a></li>
				{% endfor %}
			</ul>

			{% for form_id,form in forms.items %}
				<div id="type{{form.form.id}}">
					<div class="highlightBlock">
						
						<div class="highlightItem">
							{% if form.form.atc_code %}
								ATC
								<strong>{{ form.form.atc_code }}</strong>
							{% else %}
								ATC
								<strong>N/A</strong>
							{% endif %}
						</div>

						<div class="highlightItem">
							{% if form.form.composition %}
								{% trans "Composition" %}
								<strong>{{ form.form.composition }}</strong>
							{% else %}
								{% trans "Composition" %}
								<strong>N/A</strong>
							{% endif %}
						</div>

						<div class="spacer"></div>
					</div>

					<div class="mainBlock obs_lists">
						<div class="blockSubTitle">{% trans "Observations for this pharmaceutical form on the lists:" %}</div>
						
						<ul class="listItems">
							{% for sf in form.form_in_lists %}

								{% if sf.restriction_age or sf.only_for_children or sf.specialist_care_for_children or sf.observation %}
									<li>
										<div class="itemTitle">
											{{ sf.section.list|translate:request.LANGUAGE_CODE|capfirst }}
										</div>
										
										<div class="itemDescription">
											
											{% if sf.restriction_age %}
												<b>{% trans "restriction age or weight"|capfirst %}:</b> {{ sf.restriction_age|capfirst }}<br>
											{% endif %}

											{% if sf.only_for_children %}
												<b>{% trans "This medicine is only for children."|capfirst %}</b><br>
											{% endif %}

											{% if sf.specialist_care_for_children %}
												<b>{% trans "This medicine requires a specialist care for children."|capfirst %}</b><br>
											{% endif %}

											{% if sf.observation %}
												<b>{% trans "Others observations"|capfirst %}:</b><br>
												{{sf.observation}}
												<br>
											{% endif %}

											{% if sf.best_evidence %}
												<b>{% trans "This medicine has the best evidence for effectiveness and safety."|capfirst %}</b><br>
												<br>
											{% endif %}
										</div>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
						<div class="spacer"></div>
					</div>

					<div class="sideBar">
						<div class="sideBarItem" id="lists">

							<div class="blockSubTitle">{% trans "Lists" %}</div>{{list}}
							<ul>
								<!-- {{form_id}} -->
								{% for list, forms in forms_in_lists.items %}
									{% if forms.type != 'c' %}
										{% if form_id in forms.forms %}
											<li class="checked"><span>YES</span>
												<a href="{% url list.views.show_list forms.list.id %}" title="{{ forms.list|translate:request.LANGUAGE_CODE }}">
													{{ forms.list.abbreviation }}
												</a>
											</li>
										{% else %}
											<li class="notchecked"><span>NO</span>
												<a href="{% url list.views.show_list forms.list.id %}" title="{{ forms.list|translate:request.LANGUAGE_CODE }}">
													{{ forms.list.abbreviation }}
												</a>
											</li>
										{% endif%}
									{% endif%}
								{% endfor %}
							</ul>
						</div>
						<div class="sideBarItem countries" id="countries">
							<div class="blockSubTitle">{% trans "Country list" %}</div>
							<div>
								<ul>
									{% for list, forms in forms_in_lists.items %}
										{% if forms.type == 'c' %}
											{% if form_id in forms.forms %}
												<li>
													<a href="{% url list.views.show_list forms.list.id %}" title="{{ forms.list|translate:request.LANGUAGE_CODE }}">
														{{ forms.list.abbreviation }}
													</a>
												</li>
											{% endif %}
										{% endif%}
									{% endfor %}
								</ul>
							</div>
						</div>
						
					</div>
					<div class="spacer"></div>
				</div>
			{% endfor %}
		</div>

		<div class="blockSubTitle">{% trans "Medicine Evidences Summaries" %}</div>
		<div class="mainBlock">
			{% if evidences %}
				{% for evidence in evidences %}			
					<div>
						{% trans "Context" %}
					</div>
					<div>	
						<strong>{{ evidence.context }}</strong>
					</div>
					<div>
						{% trans "Question" %}
					</div>
					<div>
					 	<strong>{{ evidence.question }}</strong>					 	
					</div>
					{% if evidence.link %}
						<div>
							<a href="{{ evidence.link }}" target="_blank">{{ evidence.link }}</a>
						</div>
					{% endif %}
					{% if evidence.file %}
						<div>	
							 <a href="{{ evidence.file.url }}" target="_blank">{% trans "view details"|capfirst %}</a>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}	
				<div class="blockSubTitle">({% trans "This medicine no have evidences yet" %})</div>	
			{% endif %}	
		</div>
		
		<div class="spacer"></div>

	</div>
{% endblock %}