{% extends "base.html" %}

{% block "head" %}
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.easing.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}/js/jquery.collapse.js"></script>
    
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/smoothness/jquery-ui-1.8.18.custom.css" media="screen" />
{% endblock %}

{% block "breadcrumb" %}
	<a href="{{ ROOT_URL }}">Home</a> / 
	<a href="">List of Essential Medicines</a> / 
	Medicine Name 
{% endblock %}

{% block "content" %}

	<div class="mainContent">
		<div class="blockTitle">{{medicine.name}}</div>
		<div class="blockSubTitle">Pharmaceutical forms</div>
		<script>
		$(function() {
			$( "#tabs" ).tabs();
		});
		</script>
		<div id="tabs">
			<ul>
				{% for form_id,form in forms.items %}
					<li><a href="#tab0{{forloop.counter}}">{{form.form.pharmaceutical_form_type}}</a></li>
				{% endfor %}
			</ul>

			{% for form_id,form in forms.items %}
				<div id="tab0{{forloop.counter}}">
					<div class="highlightBlock">
						<div class="highlightItem">
							ATC
							<strong>{{ form.form.atc_code }}</strong>
						</div>
						<div class="highlightItem">
							Composition
							<strong>{{ form.form.composition }}</strong>
						</div>

						<div class="spacer"></div>

					</div>
					<div class="mainBlock">

						{% if form.evidence|length > 0%}
							<div class="blockSubTitle">Evidence Summary</div>
							<ul class="listItems">
								{% for evidence in form.evidence %}
									<div class="itemTitle">{{evidence.evidence.title}}</div>
									<div class="itemDescription">{{evidence.evidence.abstract}}</div>
									<div class="itemFooter">
										<span class="files">Files:</span><br>
										<ul>
											{% for file in evidence.file %}
												<li><a href="{{file.get_relative_url}}">{{file.title}}</a></li>
											{% endfor %}
										</ul>
										Author Name - <span class="date">16/10/2011</span>
									</div>
								{% endfor %}
							</ul>
						{% else %}
							<div class="blockSubTitle">(This form no have evidences yet)</div>
						{% endif %}
						
					</div>
					<div class="sideBar">
						<div class="sideBarItem" id="lists">

							<div class="blockSubTitle">Listas</div>
							<ul>
								{% for list in all_lists %}
									{% if list in form.medicineList.all %}
										<li class="checked"><span>YES</span>{{list}}</li>
									{% else %}
										<li class="notchecked"><span>NO</span>{{list}}</li> 
									{% endif %}
								{% endfor %}
							</ul>
						</div>

						{% if form.form.countries.count > 0 %}
							<div class="sideBarItem" id="countries">
								<div class="blockSubTitle">Países</div>
								<div>
									{% for country in form.form.countries.all %}
										{{ country }}{% if not forloop.last %},{% endif %}
									{% endfor %}
								</div>
							</div>
						{% endif %}
						
					</div>
					<div class="spacer"></div>
				</div>
			{% endfor %}
		</div>
		<div class="spacer"></div>
	</div>
{% endblock %}