{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />

		<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}/js/functions.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/styles.css" media="screen" />
    	<script language="javascript">
    		function change_lang(new_lang) {
    			$('#lang').val(new_lang); 
    			$('form#setlang').submit();
    		}
	   	</script>

		{% block "extrahead" %}{% endblock %}
	</head>
	<body>
		<div class="container home">
        {% include "top.html" %}
		<div class="middle">
			<div id="searchBox">
				<form name="search" method="post">
					<input type="text" class="textEntry"/>
					<input type="submit" class="submit" id="searchSubmit" value=""/>
				</form>
			</div>
			<div class="content">
				{% block "content" %}{% endblock %}
			</div>
		</div>		
    </div>
	{% include "footer.html" %}
	</body>
</html>