<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_URL %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />

		<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}/js/functions.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/styles.css" media="screen" />

		<title>{% block "title" %}{% endblock %}{% trans "List of Essential Medicines" %}</title>

		{% block "extrahead" %}{% endblock %}

		<script>
			$(function(){

				var searchform = $("#searchform");
				var searchfield = $("#searchfield");
				var text = '{% trans "search form to retrieve medicine information from all lists" %}';

				// sets the default value
				function set_default_searchfield() {
					searchfield.css('color', "#999");
					searchfield.val(text);
				}
				set_default_searchfield();

				// give action for focus in
				searchfield.focusin(function(){
					if($(this).val() == text) {
						searchfield.css('color', "#000");
						$(this).val("");
					}
				});

				// give action for focus out
				searchfield.focusout(function(){
					if($(this).val() == "") {
						set_default_searchfield();
					}
				});

				// if search field has a default value, it changes
				// value for null
				searchform.submit(function(){
					if(searchfield.val() == text) {
						searchfield.val("");
					}
				});
			});



		</script>
	</head>
	<body>
        {% include "top.html" %}
		<div class="container home">
    		<div class="middle">
                <div class="breadcrumb">
    				{% block "breadcrumb" %}
    					<a href="{{ ROOT_URL }}" title="{% trans "Home" %}">{% trans "Home" %}</a> /
    					<a href="{% url main.views.index %}" title="{% trans "Annotated Medicine Lists" %}">{% trans "Annotated Medicine Lists" %}</a>
    				{% endblock %}
    			</div>

    			<div id="searchBox">
    				<form name="search" method="post" action="{{IAHX_URL}}" id="searchform">
    					<input type="hidden" name="where" value="MEDICINES"/>
    					<input type="text" id="searchfield" class="textEntry" name="q"/>
    					<input type="submit" class="submit" id="searchSubmit" value=""/>
    				</form>
    			</div>
    			<div class="content">
    				{% block "content" %}{% endblock %}
    			</div>
    		</div>
        </div>
        <div class="footer-fixed">
            {% include "footer.html" %}
        </div>
	</body>
</html>
