<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static %}
{% load i18n %}
{% get_static_prefix as STATIC_URL %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />

		<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}/js/functions.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/styles.css" media="screen" />

		<title>{% block "title" %}{% endblock %}{% trans "Annotated Medicine Lists" %}</title>
		
		{% block "extrahead" %}{% endblock %}
	</head>
	<body>
		<div class="container">
        {% include "top.html" %}
		<div class="middle">
			<div class="breadcrumb">
				{% block "breadcrumb" %}
					<a href="{{ROOT_URL}}">Home</a> / 
					<a href="{% url main.views.index %}" title="{% trans "Annotated Medicine Lists" %}">{% trans "Annotated Medicine Lists" %}</a>
				{% endblock %}
			</div>
			<div class="content">
				{% block "content" %}{% endblock %}
			</div>
		</div>		
    </div>
	{% include "footer.html" %}
	</body>
</html>