{% load i18n %}
<form action="/i18n/setlang/" method="post" id="setlang">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <input name="language" type="hidden" value=""  id="lang"/>
</form>

<script>
	$(function(){
		var lang = "{{ request.LANGUAGE_CODE }}";
		var box_langs = $(".availableLangs");
		var cur_lang = $(".currentLang");

		$("#lang_" + lang).hide();
		box_langs.hide();

		cur_lang.click(function(){
			box_langs.toggle();
		});
    })
</script>

<div class="header">
    <div class="logo">
        <a href="{{ ROOT_URL }}" title="{% trans "Home" %}">
            <img src="{{ STATIC_URL }}/images/logo-prais-{{request.LANGUAGE_CODE}}.png">
        </a>
    </div>
    <div class="title">
        {% trans "Annotated Medicine Lists" %}
    </div>
    <div class="language" id="langs" style="display: block;">
        <ul>
            <li><a id="lang_en" href="#" onclick="change_lang('en')" ><span>English</span></a></li>
            <li><a id="lang_pt-br" href="#" onclick="change_lang('pt-BR')" ><span>Português</span></a></li>
            <li><a id="lang_es" href="#" onclick="change_lang('es')"><span>Español</span></a></li>
        </ul>
    </div>
</div>
