{% extends "base-index.html" %}
{% load i18n %}
{% load app_filters %}

{% block "extrahead" %}
	<script>
		$(document).ready(function(){
			$("#countrylists").change(function(){
				location.href = $(this).val();
			});
		});
	</script>
{% endblock %}

{% block "title" %}{% trans "Home" %} | {% endblock %}

{% block "content" %}
	<div class="contentBlock">
		<div class="bTitle">{% trans "Medicine Lists" %}</div>
		<div class="innerBlock">
			<div class="icon whoList"></div>
			<div class="listData">
				<div class="lTitle"><a href="#">{% trans "WHO Lists" %}</a></div>
				<div class="compare"><a href="{% url list.views.compare %}">{% trans "Compare lists"|capfirst %}</a></div>
			</div>
			<div class="spacer"></div>
			<ul>
				{% for list in who_lists %}
					{% if list.published %}
						<li><a href="{% url list.views.show_list list.id %}" title="{{list.name}}">{{ list|translate:request.LANGUAGE_CODE }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="innerBlock">
			<div class="icon pahoList"></div>
			<div class="listData">
				<div class="lTitle"><a href="#">{% trans "PAHO Lists" %}</a></div>
				<div class="compare"><a href="{% url list.views.compare %}">{% trans "Compare lists"|capfirst %}</a></div>
			</div>
			<div class="spacer"></div>
			<ul>
				{% for list in paho_lists %}
					{% if list.published %}
						<li><a href="{% url list.views.show_list list.id %}" title="{{list.name}}">{{ list|translate:request.LANGUAGE_CODE }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="innerBlock">
			<div class="icon nationalList"></div>
			<div class="listData">
				<div class="lTitle"><a href="#">{% trans "National Forms" %}</a></div>
			</div>
			<div class="spacer"></div>
			<select class="textEntry big" select id="countrylists">
				<option value="">{% trans "Select Country" %}</option>
				{% for list in country_lists %}
					{% if list.published %}
						<option value="{% url list.views.show_list list.id %}">{{ list|translate:request.LANGUAGE_CODE }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="innerBlock">
			<div class="icon evidenceSummaries"></div>
			<div class="listData">
				<div class="lTitle">
					<a href="{{IAHX_URL}}/?lang={{ request.LANGUAGE_CODE }}&where=EVIDENCES">{% trans "Evidence Summaries" %}</a>
				</div>
			</div>
			<div class="spacer"></div>
		</div>
	</div>
	<div class="spacer"></div>
{% endblock %}