DEBUG = True

## cache for list page
CACHE_TIMEOUT = (60 * 60) * 12

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

ALLOWED_HOSTS = ['localhost']
HOME_URL = 'http://localhost/'
SOLR_URL = 'http://localhost/medlist/'
GOOGLE_ANALYTICS_ID=''
