{% extends "base.html" %}
{% load i18n %}
{% load app_filters %}

{% block "title" %}
	{{ evidence.title }} |
{% endblock %}

{% block breadcrumb_last %}
	{% trans "Evidence Summary" %}
{% endblock %}

{% block "content" %}
	<div class="jumbotron">
		<h2>{{ evidence.title }}</h2>
        <hr>
		{% if evidence.context %}
            <strong>{% trans "Context" %}</strong>
            <p>{{ evidence.context }}</p>
		{% endif %}

		{% if evidence.description %}
			<strong>{% trans "Description" %}</strong>
			<p>{{ evidence.description }}</p>
		{% endif %}

		{% if evidence.question %}
			<strong>{% trans "Question" %}</strong>
			<p>{{ evidence.question }}</p>
		{% endif %}

        {% if evidence.file or evidence.link %}
            <div>
                {% if evidence.file %}
                    <a href="{{ MEDIA_URL }}{{ evidence.file }}" class="btn btn-dark" target="_blank">download</a>
                {% else %}
                    <a href="{{ evidence.link }}" class="btn btn-dark" target="_blank">download</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

	{% if evidence.file and evidence.file_is_pdf or evidence.link and evidence.link_is_pdf %}
		<div id="documentViewer" class="pdf">
			{% if evidence.file %}
				<embed type="application/pdf" src="http://{{ request.get_host }}/{{ evidence.file }}" width="1100" height="650">
			{% else %}
				<embed type="application/pdf" src="{{ evidence.link }}" width="1100" height="650">
			{% endif %}
		</div>
	{% endif %}
    <br/>

{% endblock %}
