{% load i18n %}
{% load static %}
<header>
	<h3 class="tituloPrincial text-center">Listas Anotadas de Medicamentos e Dispositivos</h3>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="index.php">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Listas
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="comparar.php">Comparar Listas</a>
							<a class="dropdown-item" href="lista.php">WHO Model Lista of Essetial Medicines 1</a>
							<a class="dropdown-item" href="lista.php">WHO Model Lista of Essetial Medicines 2</a>
							<a class="dropdown-item" href="lista.php">PAHO Strategic Fund medicine List 1</a>
							<a class="dropdown-item" href="lista.php">PAHO Strategic Fund medicine List 2</a>
							<a class="dropdown-item" href="lista.php">WHO Model Lista of Essetial Medicines (Dispositivos)</a>
							<a class="dropdown-item" href="lista.php">PAHO Strategic Fund medicine List (Dispositivos)</a>
							<!-- <a class="dropdown-item" href="comparar.php">Listas Nacionais</a> -->
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="sumario.php">Sumário de Evidências</a>
					</li>
				</ul>
				<div class="dropdown-divider"></div>
				<ul class="navbar-nav navLang">
					<a class="nav-link" href="#" onclick="change_lang('en')">En</a>
					<a class="nav-link" href="#" onclick="change_lang('es')">Es</a>
					<a class="nav-link" href="#" onclick="change_lang('pt-BR')">Pt</a>
				</ul>

                <div class="dropdown-divider"></div>
                <ul class="navbar-nav navLogin">
                    <a class="nav-link" href="{% url 'admin:login' %}?next=/close_window">Login</a>
                    <a class="nav-link" href="{% url 'admin:logout' %}?next=/close_window"> Logout</a>
                </ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="{% static '/images/' %}{{request.LANGUAGE_CODE}}/prais_top.png" alt="" class="img-fluid">
			</div>
		</div>
		<hr>
	</div>
</header>
